<div class="loader-container" *ngIf="isLoading">
    <div class="loader"></div>
</div>

<ng-container *ngIf="!isLoading && !hasError">
    <header>
        <h1>My profile</h1>
    </header>
    
    <div class="main-body row">
        <div class="profile-section">
            <app-profile [profile]="userProfile"></app-profile>
        </div>
        <div class="map-section">
            <app-map [profile]="userProfile"></app-map>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!isLoading && hasError">
    <div>
        {{errorMsg}}
    </div>
</ng-container>